
{{> header}}

  {{> navbar }}
  <div class="row">
    <div class="col">
      <h1>Sobre nosotros</h1>
    </div>
    <div class="col">
      <img src="assets/img/cat.jpg" class="img-thumbnail">
    </div>
  </div>

{{> footer }}